/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  background: #e2e2e2;
  overflow: auto;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.wrapper .full-width,
.wrapper .btn-block {
  width: 100%;
}
.box {
  position: relative;
  top: 0;
  opacity: 1;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  min-width: min-content;
  max-width: 400px;
}
.form mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form mat-card-content,
mat-card-footer {
  padding: 8px;
}
app-home {
  display: flex;
}
app-home .wrapper {
  padding: 40px 80px;
}
mat-form-field .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}
